<ion-view title="Account">

  <ion-content class="has-header">

    <!-- Various Sections -->
    <div class="list">

        <!-- Profile View -->
        <div class="profile-view">
            <div class="item item-divider">
                Profile
            </div>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-person-outline"></i>
                Anonymous

            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-location-outline"></i>
                Tempe, AZ

            </a>

            <a class="item item-icon-left" href="#" disable="true">
                <i class="icon ion-ios7-photos-outline"></i>
                    Posts
                <span class="item-note">3</span>
            </a>
        </div>


    </div>

  </ion-content>
</ion-view>
